/*
Theme Name: julitewoo (Avada Child)
Description: Child theme for the Avada
Author: Manuel, Jonas & Julia Kugelmann
Template: Avada
*/

.pg {
	background-color: rgba(1, 1, 56, 0.972549);
}

.pgxx {
	background-color: rgba(36, 47, 56, 0.972549);
}

.ui-slider.ui-slider-vertical .ui-slider-handle {
 z-index: 2;
 width: 12px;
 height: 12px;
 top: auto !important;
 outline: none;
}

.ui-slider .ui-slider-handle {
 z-index: 2;
 width: 12px;
 height: 12px;
 top: auto !important;
 outline: none;
}